---
// import { getCollection } from "astro:content";
import Layout from "../../layouts/index.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import Container from "../../components/atoms/Container.astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyBlokApi = useStoryblokApi();

const {
  data: { stories },
} = await storyBlokApi.getStories({
  version: "published",
  per_page: 6,
});

---

<Layout title="CR3ST: Blog" >
  <Container class="pt-14 pb-32">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-gotham font-medium dark:text-light-400 text-dark-500 mb-5">Latest from our blog</h2>
      <p class="text-sm dark:text-dark-100 text-dark-300 font-medium">
        Keep up to date with latest stories and articles exclusively from CR3ST.
      </p>
    </div>
    <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-y-24 gap-x-16">
      {
        stories.map((story) => (
          <BlogPostCard
            title={story.content.title}
            primaryTags={story.content.tags[0]}
            date={new Date(story.published_at ?? story.first_published_at ?? story.content.date)}
            image={`https:${story.content.cover}`}
            link={"/blog/" + story.slug}
          />
        ))
      }
    </div>
  </Container>
</Layout>
