---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/index.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import Container from "../../components/atoms/Container.astro";

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout>
  <Container class="pt-14 pb-32">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-gotham font-medium dark:text-light-400 text-dark-500 mb-5">Latest from our blog</h2>
      <p class="text-sm dark:text-dark-100 text-dark-300 font-medium">
        Keep up to date with latest stories and articles exclusively from CR3ST.
      </p>
    </div>
    <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-y-24 gap-x-16">
      <BlogPostCard
        title="Why choose a theme that looks good with WooCommerce"
        primaryTags="Growth"
        date={new Date()}
        image="https://via.placeholder.com/150"
        link="/blog"
      />
      <BlogPostCard
        title="Why choose a theme that looks good with WooCommerce"
        primaryTags="Growth"
        date={new Date()}
        image="https://via.placeholder.com/150"
        link="/blog"
      />
      <BlogPostCard
        title="Why choose a theme that looks good with WooCommerce"
        primaryTags="Growth"
        date={new Date()}
        image="https://via.placeholder.com/150"
        link="/blog"
      />
      <BlogPostCard
        title="Why choose a theme that looks good with WooCommerce"
        primaryTags="Growth"
        date={new Date()}
        image="https://via.placeholder.com/150"
        link="/blog"
      />
    </div>
  </Container>
</Layout>
