@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url(/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf) format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "DM Sans";
  src: url(/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf) format("truetype");
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Thin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-BlackItalic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-BoldItalic.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

/* @font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Ultra.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-UltraItalic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
} */

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-LightItalic.otf) format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-XLight.otf) format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-XLightItalic.otf) format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-MediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Gotham";
  src: url(/fonts/Gotham/Gotham-ThinItalic.otf) format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  font-feature-settings: "liga" off;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'liga' off;
}

@font-face {
  font-family: "Jarkata";
  src: url(/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'liga' off;
}
