/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url(./font.css);

@layer base {
  :root {
    --background: #f5f7f9;
    --text: #080808;
    --button-background: linear-gradient(88deg, #ff44ec 23.87%, #4309e4 145.85%);
  }
  .dark {
    --background: #141414;
    --text: #fff;
    --button-background: linear-gradient(88deg, #4309e4 23.87%, #bbb 145.85%);
  }
}

* {
  transition: 0.15s ease all;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  background-color: var(--background);
  color: var(--text);
}

strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.clip-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Style Scroll bars */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191b9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd36b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19191b;
}

/* Home Screen */

.home-hero {
  display: relative;
}

.home-hero::before {
  content: "";
  position: fixed;
  top: -20%;
  right: 40%;
  width: 274.17px;
  height: 100%;
  transform: rotate(67.906deg);
  background-color: #b5b4ff;
  filter: blur(100px);
  z-index: -1;
}

.home-hero::after {
  content: "";
  position: fixed;
  top: 10%;
  right: 10%;
  width: 740.402px;
  height: 334px;
  transform: rotate(-116.773deg);
  border-radius: 740.402px;
  opacity: 0.3;
  background: #e0ff79;
  filter: blur(100px);
  z-index: -1;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadein {
  animation: fadein 0.5s;
}