/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url(./font.css);

@layer base {
  :root {
    --background: #f5f7f9;
    --text: #080808;
    --button-background: linear-gradient(88deg, #ff44ec 23.87%, #4309e4 145.85%);
  }
  .dark {
    --background: #141414;
    --text: #fff;
    --button-background: linear-gradient(88deg, #4309e4 23.87%, #bbb 145.85%);
  }
}

* {
  transition: 0.15s ease all;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

strong,
b {
  font-weight: 700;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
}
pre {
  padding: 1em;
  background-color: #b4b4c8;
  border-radius: 8px;
  margin: 10px 0;
}

.dark pre {
  background-color: #303036;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.clip-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.dark .dark-no-clip-text {
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
  text-fill-color: initial;
}

/* Style Scroll bars */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191b9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd36b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19191b;
}

/* noscrollbars */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Home Screen */

.home-hero {
  display: relative;
}

.home-hero::before {
  content: "";
  position: fixed;
  top: -20%;
  right: 40%;
  width: 274.17px;
  height: 100%;
  transform: rotate(67.906deg);
  background-color: #b5b4ff;
  filter: blur(100px);
  z-index: -1;
}

.home-hero::after {
  content: "";
  position: fixed;
  top: 10%;
  right: 10%;
  width: 740.402px;
  height: 334px;
  transform: rotate(-116.773deg);
  border-radius: 740.402px;
  opacity: 0.3;
  background: #e0ff79;
  filter: blur(100px);
  z-index: -1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadein {
  animation: fadein 0.5s;
}

.prose > * {
  margin-bottom: 0.75em;
}

.prose > h1 {
  font-size: 2.5em;
  margin-top: 0;
}

.prose > h2 {
  font-size: 2em;
}

.prose > h3 {
  font-size: 1.5em;
}

.prose > h4 {
  font-size: 1.25em;
}

.prose > h5 {
  font-size: 1em;
}

.prose > h6 {
  font-size: 0.875em;
}

.prose > p {
  font-size: 1em;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1em;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1em;
}

.prose ul > li {
  margin-bottom: 0.5em;
}

.prose ol > li {
  margin-bottom: 0.5em;
}

.prose blockquote {
  margin: 0;
  padding: 0.5em 1em;
  border-left: 4px solid var(--accent);
  background-color: var(--background);
}

.prose > pre {
  margin: 0;
  padding: 1em;
  background-color: #b4b4c8;
  border-radius: 8px;
}

.dark .prose > pre {
  background-color: #303036;
}

.prose > pre > code {
  all: unset;
}

.prose img {
  max-width: 100%;
  height: auto;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose table th {
  text-align: left;
  padding: 0.5em;
  border-bottom: 1px solid var(--gray-light);
}

.prose table td {
  padding: 0.5em;
  border-bottom: 1px solid var(--gray-light);
}

.prose table tr:nth-child(2n) {
  background-color: var(--gray-light);
}

.prose table tr:hover {
  background-color: var(--gray-light);
}

.prose code {
  padding: 2px 5px;
  border-radius: 2px;
}

.prose strong {
  font-weight: 700;
}

.prose b {
  font-weight: 700;
}

.prose em {
  font-style: italic;
}

.prose i {
  font-style: italic;
}

.prose hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.prose .youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.prose a {
  color: #5b2ed8;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-weight: 700;
  line-height: 1.2;
}

.prose img {
  margin-bottom: 10px
}