---
import ArrowRightIcon from "../SVG/ArrowRightIcon.astro";
import Logo from "../SVG/Logo.astro";
import Button from "../atoms/Button.astro";
import Container from "../atoms/Container.astro";
type Props = {
  class?: string;
};

const { class: className }: Props = Astro.props;
---

<section class={className}>
  <Container class="pb-32 pt-0 relative overflow-hidden">
    <div class="grid md:grid-cols-2 gap-10 md:gap-48 items-center relative z-10">
      <div class="flex flex-col gap-8 pt-20">
        <h2 class="text-4xl sm:text-5xl font-bold clip-text bg-logo font-gotham">About CR3ST</h2>
        <p class="max-sm:text-sm dark:text-dark-50 text-dark-600 font-jarkata">
          At CR3ST, innovation is at the heart of everything we do. With a passion for excellence and a dedication to
          our clients' success, we bring together a team of experts from diverse backgrounds to deliver cutting-edge
          solutions that drive tangible results.
        </p>
        <a href="http://https://tally.so/r/w48eBo" target="_blank" rel="noopener Cr3st Digital Agency">
          <Button class="w-fit">Get Started! <ArrowRightIcon class="ml-2" /> </Button>
        </a>
      </div>
      <div>
        <img src="/images/about-dark.png" alt="Cr3st: About us" class="w-full hidden dark:block" />
        <img src="/images/about-light.png" alt="Cr3st: About us" class="w-full dark:hidden" />
      </div>
    </div>
    <Logo class="md:w-64 w-36 absolute opacity-10 right-2 -bottom-6 dark:fill-white fill-secondary" />
  </Container>
</section>

<style></style>
