---
import Button from "../components/atoms/Button.astro";
import Container from "../components/atoms/Container.astro";
import AboutCrest from "../components/sections/AboutCrest.astro";
import Layout from "../layouts/index.astro";
---

<Layout title="About CR3ST" headerBg="dark:bg-[#0C0C0C] bg-white">
  <section class="dark:bg-[#0C0C0C] relative bg-white overflow-x-clip">
    <div class="bg-white/40 dark:bg-[#0C0C0C]/20">
      <Container class="relative">
        <div class="hero flex justify-center items-center w-full">
          <div class="w-full py-64 max-md:pt-32 bg-page/90 relative z-10">
            <div>
              <div class="text-center mt-20 font-gotham">
                <h1 class="sm:text-7xl text-4xl font-bold text-[#141414] dark:text-white">
                  Empowering <span class="clip-text dark-no-clip-text dark:bg-none bg-logo">Innovation</span>, <br /> Driving
                  <span class="clip-text dark-no-clip-text dark:bg-none bg-logo">Transformation</span>
                </h1>
                <p class="sm:text-xl px-[10%] font-gotham mt-8 font-light dark:text-white text-dark-400">
                  Our mission is to empower businesses and individuals to innovate fearlessly, pushing the boundaries of
                  what's possible and transforming ideas into reality. Join us on our journey to make a difference in
                  the digital age.
                </p>
              </div>
            </div>
          </div>
        </div>
      </Container>
    </div>
  </section>
  <AboutCrest class="pt-16" />
  <section class="dark:bg-black py-32">
    <Container>
      <div class="card bg-page rounded-lg grid md:grid-cols-2 relative overflow-hidden gap-32 md:pr-16 max-md:p-5">
        <div class="absolute h-[40%] bg-gradient-primary w-3/12 md:w-4/12 blur-[100px] top-0 end-0 md:start-0"></div>
        <div class="md:pt-32 md:pb-24 relative z-10">
          <img src="/images/mockup.webp" alt="Cr3st Digital Agency mockup shirt" class="w-full" />
        </div>
        <div class="md:pt-32 md:pb-24 relative z-10">
          <h3 class="font-gotham font-bold max-md:text-center text-2xl sm:text-5xl text-primary-900 dark:text-white">
            Our Mission
          </h3>
          <p class="dark:text-gray-400 max-md:text-center text-dark-300 sm:text-lg mt-8">
            Our mission at CR3ST is simple yet ambitious: to drive meaningful change through innovative solutions that
            inspire, empower, and transform. We believe in the power of technology to revolutionize industries, disrupt
            markets, and create opportunities for growth. By combining cutting-edge technology with creative thinking
            and a customer-centric approach, we strive to deliver solutions that exceed expectations and propel our
            clients to success.
          </p>
        </div>
      </div>
    </Container>
  </section>
  <section class="pt-36">
    <Container>
      <div class="grid md:grid-cols-2 gap-8 md:gap-40">
        <div class="md:pb-40">
          <h3 class="font-gotham font-bold max-md:text-center text-2xl sm:text-5xl text-primary-900 dark:text-white">
            A remote focused team growing fast
          </h3>
          <p class="dark:text-gray-400 max-md:text-center text-dark-300 sm:text-lg mt-8">
            Behind every successful project at CR3ST is a team of passionate and talented individuals who share a common
            goal: to deliver exceptional results with integrity, creativity, and expertise. Get to know the faces behind
            CR3ST
          </p>

          <a href="mailto:carrers@cr3st.com"><Button class="mt-8 max-md:mx-auto">Join our Team</Button></a>
        </div>
        <div class="relative overflow-hidden">
          <img src="/images/carrer.webp" alt="" class="relative md:absolute w-full top-0 -bottom-32" />
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .hero::before {
    content: "";
    z-index: 0;
    position: absolute;
    width: 461px;
    height: 448px;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #ff44ec -100.22deg,
      #ffbc7b 55.35deg,
      #2a04e5 190.89deg,
      #ff44ec 259.78deg,
      #ffbc7b 415.35deg
    );
    filter: blur(110px);
  }
</style>
