---
import HeroBg from "../components/SVG/HeroBg.astro";
import HeroBgDark from "../components/SVG/HeroBgDark.astro";
import Container from "../components/atoms/Container.astro";
import Layout from "../layouts/index.astro";
import GradientCard from "../components/GradientCard.astro";
import ChartIcon from "../components/SVG/ChartIcon.astro";
import CubeIcon from "../components/SVG/CubeIcon.astro";
import ChipIcon from "../components/SVG/ChipIcon.astro";
import EmojiHappyIcon from "../components/SVG/EmojiHappyIcon.astro";
import Logo from "../components/SVG/Logo.astro";
import ArrowRightIcon from "../components/SVG/ArrowRightIcon.astro";
import Button from "../components/atoms/Button.astro";
import Carousel from "../components/carousel/Carousel.astro";
import { SECONDARY_BG, POTENTIAL_LIST } from "../consts";
import CheckIcon from "../components/SVG/CheckIcon.astro";
import Input from "../components/atoms/Input.astro";
import TextArea from "../components/atoms/TextArea.astro";
import SolutionsCard from "../components/SolutionsCard.astro";
import AboutCrest from "../components/sections/AboutCrest.astro";
import Count from "../components/Count.astro";
---

<Layout>
  <section class="relative">
    <HeroBg class="absolute -top-[18%] h-full w-full dark:hidden" />
    <HeroBgDark class="absolute -top-[20%] h-full w-full hidden dark:block" />
    <Container class="relative z-10">
      <div class="flex flex-col items-center justify-center py-40">
        <img src="/images/branding/icon.svg" alt="Logo" class="md:w-64 w-36" />

        <div class="text-center mt-20 font-gotham">
          <h1 class="sm:text-8xl text-5xl font-bold text-primary dark:text-white">
            Welcome to <br />
            <span class="bg-logo clip-text">CR3ST!</span>
          </h1>
          <p class="text-xs sm:text-xl font-gotham mt-8 font-light dark:text-white text-dark-400">
            Transforming Ideas into Reality...
          </p>
        </div>
      </div>
      <img
        src="/images/branding/icon-light.svg"
        alt="Cr3st digital icon"
        class="absolute w-[300px] bottom-0 right-0 opacity-[0.02] hidden dark:block"
      />
    </Container>
  </section>
  <section>
    <Container>
      <div class="grid grid-cols-2 xl:grid-cols-4 gap-x-8 sm:gap-8">
        <Count count={10} text="Projects" />
        <Count count={6} text="Happy Clients" />
        <Count count={20} text="Designs Completed" />
        <Count count={10} text="Service Offerings" />
      </div>
    </Container>
  </section>
  <section class={SECONDARY_BG}>
    <Container class="relative pt-24 pb-32 overflow-hidden">
      <Logo class="md:w-64 w-36 absolute opacity-10 -right-4 dark:fill-white fill-secondary" />
      <h2 class="text-3xl sm:text-5xl font-gotham text-center text-dark-700 dark:text-light-200 relative z-10">
        Custom Solutions, <br /> Tailored for You!
      </h2>

      <div class="lg:w-9/12 mx-auto mt-16 relative z-10">
        <div class="grid md:grid-cols-2 gap-8">
          <div class="flex flex-col gap-8">
            <SolutionsCard
              icon="chart"
              title="Software Development"
              description="From inception to deployment, our team crafts bespoke software solutions designed to streamline your processes and drive growth."
            />
            <SolutionsCard
              icon="cube"
              title="Digital Marketing Strategies that Deliver Results"
              description="Maximize your online visibility and engagement with our data-driven digital marketing solutions. From  SEO to social media management, we help you connect with your audience and achieve your business objectives."
            />
          </div>
          <div class="flex flex-col gap-8">
            <SolutionsCard
              icon="chip"
              title="Web Design & Development"
              description="Elevate your online presence with our stunning web designs and robust web applications. We blend creativity with functionality to deliver exceptional user experiences."
            />
            <SolutionsCard
              icon="emoji-happy"
              title="Expert Consulting Services"
              description="Gain valuable insights and strategic guidance from our experienced consultants. Whether you're launching a new project or seeking to optimize existing processes, we're here to support your success."
            />
          </div>
        </div>
      </div>
      <Logo class="md:w-64 w-36 absolute opacity-10 -left-32 bottom-40 dark:fill-white fill-secondary" />
    </Container>
  </section>
  <AboutCrest />

  <section>
    <Container class="relative pt-28 pb-32">
      <Logo class="md:w-72 w-36 absolute opacity-10 bottom-24 left-0 dark:fill-white fill-secondary" />
      <div class="grid md:grid-cols-2 gap-8 relative z-10">
        <div>
          <h1 class="text-3xl sm:text-5xl font-bold text-dark-700 font-gotham dark:text-light-200 mb-4">
            Unlock Your Potential with <span class="bg-logo clip-text">CR3ST</span>'s Innovative Solutions
          </h1>
          <a href="#contact-us">
            <Button> Contact Us </Button>
          </a>
        </div>

        <div class="flex max-md:flex-col gap-24">
          <div class="w-full h-1 md:h-full md:w-1 bg-border"></div>
          <div class="flex flex-col gap-5">
            {
              POTENTIAL_LIST.map((item) => (
                <div class="flex items-start gap-4">
                  <CheckIcon class="w-6 dark:stroke-gray-600 stroke-primary" />
                  <p class="dark:text-white text-dark-700 sm:text-lg">{item}</p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </Container>
  </section>

  <section class={SECONDARY_BG}>
    <Container class="pb-32 pt-8 overflow-hidden">
      <div class="grid md:grid-cols-2 gap-28">
        <div class="flex max-md:flex-col gap-36">
          <div class="flex flex-col gap-16 justify-between pt-10">
            <p class="text-sm font-bold clip-text bg-logo-reverse uppercase w-fit max-md:mx-auto max-md:text-center">
              Have a project in mind?
            </p>
            <div>
              <h1 class="max-md:text-center text-4xl sm:text-6xl font-bold text-dark-700 dark:text-light-200">
                Ready to Get Started?
                <span class="bg-gradient-primary clip-text">Let's Talk!</span>
              </h1>
              <p class="dark:text-dark-100 font-medium sm:text-lg text-dark-400 mt-6 max-md:text-center">
                Whether you have a specific project in mind or need guidance on where to begin, our team is here to
                help. Reach out to us today to discuss your goals and discover how CR3ST can empower your business for
                success
              </p>
            </div>
          </div>
        </div>
        <div class="card-gradient relative">
          <div class="w-full relative h-full bg-light-50 dark:bg-black rounded-lg z-10 py-10 px-9">
            <p class="font-gotham font-medium text-xl dark:text-gray-200 text-dark-400">
              Let us know about your project & we will help you grow your business from scratch.
            </p>
            <form action="https://formspree.io/f/xoqgpyyk" method="post" id="contact-us">
              <div class="flex flex-col gap-4 mt-8 mb-6">
                <Input required name="Full Name" type="text" placeholder="Your Name" />
                <Input required name="Email" type="email" placeholder="Your Email" />
                <Input name="Phone Number" type="text" placeholder="Your Phone" />
                <TextArea required name="Message" placeholder="Your Message" />
              </div>
              <div class="bg-button_border rounded p-px w-fit h-fit">
                <Button class="bg-none dark:bg-none bg-light-50 dark:bg-black font-dm-sans font-bold">
                  <span class="clip-text bg-gradient-secondary dark:hidden"> Send Message</span>
                  <span class="hidden dark:inline"> Send Message</span>
                </Button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .card-gradient::before {
    content: "";
    position: absolute;
    width: 371px;
    height: 519px;
    background: linear-gradient(98deg, #ffbc7b 0%, #7f60f9 100%);
    filter: blur(105px);
    transform: rotate(-90deg);
    z-index: 0;
  }
</style>
