---
import HeroBg from "../components/SVG/HeroBg.astro";
import HeroBgDark from "../components/SVG/HeroBgDark.astro";
import Container from "../components/atoms/Container.astro";
import Layout from "../layouts/index.astro";
import GradientCard from "../components/GradientCard.astro";
import ChartIcon from "../components/SVG/ChartIcon.astro";
import CubeIcon from "../components/SVG/CubeIcon.astro";
import ChipIcon from "../components/SVG/ChipIcon.astro";
import EmojiHappyIcon from "../components/SVG/EmojiHappyIcon.astro";
import LogoWhite from "../components/SVG/LogoWhite.astro";
import ArrowRightIcon from "../components/SVG/ArrowRightIcon.astro";
import Button from "../components/atoms/Button.astro";
---

<Layout>
  <section class="relative">
    <HeroBg class="absolute -top-[18%] h-full w-full dark:hidden" />
    <HeroBgDark class="absolute -top-[20%] h-full w-full hidden dark:block" />
    <Container class="relative z-10">
      <div class="flex flex-col items-center justify-center py-40">
        <img src="/images/branding/icon.svg" alt="Logo" class="md:w-64 w-36" />

        <div class="text-center mt-20 font-gotham">
          <h1 class="text-8xl font-bold text-primary dark:text-white">
            Welcome to <br />
            <span class="bg-logo clip-text">CR3ST!</span>
          </h1>
          <p class="text-xl font-gotham mt-8 font-light dark:text-white text-dark-400">
            Transforming Ideas into Reality...
          </p>
        </div>
      </div>
      <img
        src="/images/branding/icon-light.svg"
        alt="Cr3st digital icon"
        class="absolute w-[300px] bottom-0 right-0 opacity-[0.02] hidden dark:block"
      />
    </Container>
  </section>
  <section>
    <Container>
      <div class="grid grid-cols-4 gap-8">
        <div class="pb-10 pt-20">
          <div class="border-l-2 border-primary-600 pl-4 dark:text-light-300 text-dark-600 font-inter">
            <h3 class="text-4xl font-bold">10+</h3>
            <p class="text-lg">Projects</p>
          </div>
        </div>
        <div class="pb-10 pt-20">
          <div class="border-l-2 border-primary-600 pl-4 dark:text-light-300 text-dark-600 font-inter">
            <h3 class="text-4xl font-bold">6+</h3>
            <p class="text-lg">Happy Clients</p>
          </div>
        </div>
        <div class="pb-10 pt-20">
          <div class="border-l-2 border-primary-600 pl-4 dark:text-light-300 text-dark-600 font-inter">
            <h3 class="text-4xl font-bold">20+</h3>
            <p class="text-lg">Designs completed</p>
          </div>
        </div>
        <div class="pb-10 pt-20">
          <div class="border-l-2 border-primary-600 pl-4 dark:text-light-300 text-dark-600 font-inter">
            <h3 class="text-4xl font-bold">10+</h3>
            <p class="text-lg">Service Offerings</p>
          </div>
        </div>
      </div>
    </Container>
  </section>
  <section class="bg-[#171717]">
    <Container class="relative pt-24 pb-32 overflow-hidden">
      <LogoWhite class="md:w-64 w-36 absolute opacity-10 -right-10 dark:fill-white fill-dark-100" />
      <h2 class="text-5xl font-gotham text-center text-dark-700 dark:text-light-200 relative z-10">
        Custom Solutions, <br /> Tailored for You!
      </h2>

      <div class="md:w-9/12 mx-auto mt-16 relative z-10">
        <div class="grid sm:grid-cols-2 gap-8">
          <div class="flex flex-col gap-8">
            <GradientCard>
              <div class="mb-16">
                <ChartIcon class={"w-12 dark:stroke-dark-50 stroke-dark-300"} />
              </div>
              <div class="mb-6">
                <h4 class="font-gotham text-dark-500 text-2xl font-medium dark:text-light-400">Software Development</h4>
              </div>
              <p class="text-dark-300 dark:text-dark-50">
                From inception to deployment, our team crafts bespoke software solutions designed to streamline your
                processes and drive growth.
              </p>
            </GradientCard>
            <GradientCard>
              <div class="mb-16">
                <CubeIcon class={"w-12 dark:stroke-dark-50 stroke-dark-300"} />
              </div>
              <div class="mb-6">
                <h4 class="font-gotham text-dark-500 text-2xl font-medium dark:text-light-400">
                  Digital Marketing Strategies that Deliver Results
                </h4>
              </div>
              <p class="text-dark-300 dark:text-dark-50">
                Maximize your online visibility and engagement with our data-driven digital marketing solutions. From
                SEO to social media management, we help you connect with your audience and achieve your business
                objectives.
              </p>
            </GradientCard>
          </div>
          <div class="flex flex-col gap-8">
            <GradientCard>
              <div class="mb-16">
                <ChipIcon class={"w-12 dark:stroke-dark-50 stroke-dark-300"} />
              </div>
              <div class="mb-6">
                <h4 class="font-gotham text-dark-500 text-2xl font-medium dark:text-light-400">
                  Web Design & Development
                </h4>
              </div>
              <p class="text-dark-300 dark:text-dark-50">
                Elevate your online presence with our stunning web designs and robust web applications. We blend
                creativity with functionality to deliver exceptional user experiences.
              </p>
            </GradientCard>
            <GradientCard>
              <div class="mb-16">
                <EmojiHappyIcon class={"w-12 dark:stroke-dark-50 stroke-dark-300"} />
              </div>
              <div class="mb-6">
                <h4 class="font-gotham text-dark-500 text-2xl font-medium dark:text-light-400">
                  Expert Consulting Services
                </h4>
              </div>
              <p class="text-dark-300 dark:text-dark-50">
                Gain valuable insights and strategic guidance from our experienced consultants. Whether you're launching
                a new project or seeking to optimize existing processes, we're here to support your success.
              </p>
            </GradientCard>
          </div>
        </div>
      </div>
      <LogoWhite class="md:w-64 w-36 absolute opacity-10 -left-32 bottom-40 dark:fill-white fill-dark-100" />
    </Container>
  </section>
  <section>
    <Container class="pb-32 pt-24">
      <div class="grid sm:grid-cols-2 gap-10">
        <div class="flex flex-col gap-8">
          <h2 class="text-5xl font-bold clip-text bg-logo font-gotham">About CR3ST</h2>
          <p class="dark:text-dark-50 text-dark-600 font-jarkata">
            At CR3ST, innovation is at the heart of everything we do. With a passion for excellence and a dedication to
            our clients' success, we bring together a team of experts from diverse backgrounds to deliver cutting-edge
            solutions that drive tangible results.
          </p>
          <Button class="w-fit">Get Started! <ArrowRightIcon class="ml-2" /> </Button>
        </div>
        
      </div>
    </Container>
  </section>
</Layout>
