---
import { ICONS, SOCIAL_LINKS } from "../consts";
import Container from "./atoms/Container.astro";
import ThemeToggle from "./atoms/ThemeToggle.astro";

const today = new Date();
---

<footer class="bg-[#070707] mt-auto py-20">
  <Container>
    <div class="flex flex-col-reverse justify-center items-center gap-10 lg:grid lg:grid-cols-3">
      <div>
        <img src="/images/branding/logo.svg" alt="cr3st logo" class="w-28" />
      </div>
      <div>
        <p class="font-medium max-lg:text-center text-gray-400">
          We strive to empower businesses and individuals to reach new heights of success.
        </p>
      </div>
      <div class="flex flex-col-reverse lg:flex-col gap-6">
        <div class="flex gap-8 social justify-center max-lg:my-4 lg:justify-end">
          {
            SOCIAL_LINKS.map(({ name, url, icon }) => {
              const Icon = ICONS[icon];
              return (
                <a href={url} target="_blank" class="text-gray-50 hover:text-white after:bg-gray-600">
                  <Icon />
                </a>
              );
            })
          }
        </div>
        <div class="text-center lg:text-right display flex justify-center lg:justify-end gap-10 h-full links">
          <a href="/terms-and-conditions" class="text-gray-50 hover:text-white after:bg-gray-600">
            Terms & Conditions
          </a>
          <a href="/privacy-policy" class="text-gray-50 hover:text-white after:bg-gray-600"> Privacy Policy </a>
        </div>
      </div>
    </div>
  </Container>
  <ThemeToggle />
</footer>

<style>
  a {
    position: relative;
    cursor: pointer;
    height: fit-content;
  }

  .links a::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: #fff;
  }
</style>
