---
import { type HTMLAttributes } from "astro/types";
import { tailwindMerge } from "../consts";

type Props = HTMLAttributes<"div">;
const { class: className, ...rest } = Astro.props;
---

<div class={tailwindMerge("group w-full relative rounded-lg transition duration-700", className)} {...rest}>
  <div
    class="bg-card opacity-0 group-hover:opacity-60 w-full blur-[10px] absolute top-0 bottom-0 left-0 right-0 z-0 rounded-lg slow-transition"
  >
  </div>
  <div class="group-hover:shadow-card bg-light-100 dark:bg-[#1F1F1F] px-8 py-11 relative z-10 rounded-lg">
    <slot />
  </div>
</div>

<style>
  .slow-transition {
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
  }
</style>
