---
import HeaderLink from "./HeaderLink.astro";
import Button from "./atoms/Button.astro";
// import { SITE_TITLE } from "../consts";
import ArrowRightIcon from "./SVG/ArrowRightIcon.astro";
---

<header class="py-10 px-8">
  <nav class="flex justify-between items items-center container mx-auto">
    <div class="flex gap-10">
      <a href="/">
        <img class="hidden dark:block w-24" src="/images/branding/logo-white.svg" alt="" />
        <img class="dark:hidden w-24" src="/images/branding/logo.svg" alt="" />
      </a>
      <div class="flex items-center gap-8">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/about">Project</HeaderLink>
        <HeaderLink href="/about">Services</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>
    </div>

    <div>
      <Button>Get Started! <ArrowRightIcon class="ml-2" /> </Button>
    </div>
  </nav>
</header>
<style></style>
