---
import HeaderLink from "./HeaderLink.astro";
import Button from "./atoms/Button.astro";
// import { SITE_TITLE } from "../consts";
import ArrowRightIcon from "./SVG/ArrowRightIcon.astro";
import MenuIcon from "./SVG/MenuIcon.astro";
import CloseIcon from "./SVG/CloseIcon.astro";

type Props = {
  bg?: string;
};

const { bg }: Props = Astro.props;
---

<>
  <header class="py-6 md:py-10 px-8 z-50 fixed top-0 w-full bg-transparent" id="header">
    <nav class="flex justify-between items-center container mx-auto">
      <div class="flex gap-10 items-center">
        <a aria-label="home" href="/" class="mr-20">
          <img class="hidden dark:block w-24" src="/images/branding/logo-white.svg" alt="" />
          <img class="dark:hidden w-24" src="/images/branding/logo.svg" alt="" />
        </a>
        <div class="flex items-center gap-8 menu max-md:bg-page" id="menu">
          <button aria-label="close mobile menu" id="btn-close-menu" class="md:hidden absolute right-5 top-5">
            <CloseIcon class="w-11 h-11" />
          </button>
          <HeaderLink href="/about">About</HeaderLink>
          <HeaderLink href="/projects">Projects</HeaderLink>
          <HeaderLink href="/services">Services</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
      </div>

      <div class="flex items-center">
        <button aria-label="open mobile menu" id="btn-open-menu" class="md:hidden">
          <MenuIcon class="w-11 h-full" />
        </button>
        <a
          aria-label="employ cr3st services form"
          href="http://tally.so/r/w48eBo"
          target="_blank"
          rel="noopener Cr3st Digital Agency"
        >
          <Button class="hidden md:flex">Get Started! <ArrowRightIcon class="ml-2" /> </Button>
        </a>
      </div>
    </nav>
  </header>
  <div id="header-spacing" class={"w-full " + bg}></div>
  <script>
    const menu = document.getElementById("menu");
    const menuBtn = document.getElementById("btn-open-menu");
    const menuCloseBtn = document.getElementById("btn-close-menu");
    const header = document.getElementById("header");

    menuBtn?.addEventListener("click", () => {
      menu?.classList.add("open");
    });

    menuCloseBtn?.addEventListener("click", () => {
      menu?.classList.remove("open");
    });

    window.addEventListener("scroll", () => {
      if (window.scrollY > header?.offsetHeight!) {
        header?.classList.remove("bg-transparent");
        header?.classList.add("bg-page", "shadow-md");
      }

      if (window.scrollY < header?.offsetHeight!) {
        header?.classList.remove("bg-page", "shadow-md");
        // header?.classList.add("bg-transparent");
      }
    });

    document.getElementById("header-spacing")?.style.setProperty("height", `${header?.offsetHeight}px`);
  </script>
  <style>
    @media screen and (max-width: 768px) {
      header {
        z-index: 9999999;
      }
      #menu {
        position: fixed;
        top: 0;
        left: -200%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2000;
        transition: 1.3s ease all;
        overflow-y: auto;
        padding: 80px 32px 0 32px;
      }

      /* Remove scrollbar from #menu */
      #menu::-webkit-scrollbar {
        display: none;
      }

      #menu.open {
        left: 0;
      }

      #menu a {
        font-size: 1.9rem;
      }
    }
  </style>
</>
