---
import HeaderLink from "./HeaderLink.astro";
import Button from "./atoms/Button.astro";
// import { SITE_TITLE } from "../consts";
import ArrowRightIcon from "./SVG/ArrowRightIcon.astro";
import MenuIcon from "./SVG/MenuIcon.astro";
import CloseIcon from "./SVG/CloseIcon.astro";
---

<header class="py-10 px-8">
  <nav class="flex justify-between items-center container mx-auto">
    <div class="flex gap-10 items-center">
      <a href="/" class=" mr-20">
        <img class="hidden dark:block w-24" src="/images/branding/logo-white.svg" alt="" />
        <img class="dark:hidden w-24" src="/images/branding/logo.svg" alt="" />
      </a>
      <div class="flex items-center gap-8 menu max-md:bg-page" id="menu">
        <button id="btn-close-menu" class="md:hidden absolute right-5 top-5">
          <CloseIcon class="w-11 h-11" />
        </button>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/project">Project</HeaderLink>
        <HeaderLink href="/services">Services</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>
    </div>

    <div class="flex items-center">
      <button id="btn-open-menu" class="md:hidden">
        <MenuIcon class="w-11 h-full" />
      </button>
      <Button class="hidden md:flex">Get Started! <ArrowRightIcon class="ml-2" /> </Button>
    </div>
  </nav>
</header>
<script>
  const menu = document.getElementById("menu");
  const menuBtn = document.getElementById("btn-open-menu");
  const menuCloseBtn = document.getElementById("btn-close-menu");

  menuBtn?.addEventListener("click", () => {
    menu?.classList.add("open");
  });

  menuCloseBtn?.addEventListener("click", () => {
    menu?.classList.remove("open");
  });
</script>
<style>
  @media screen and (max-width: 768px) {
    #menu {
      position: fixed;
      top: 0;
      left: -200%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 2000;
      transition: 1.3s ease all;
      overflow-y: auto;
      padding: 80px 32px 0 32px;
    }

    /* Remove scrollbar from #menu */
    #menu::-webkit-scrollbar {
      display: none;
    }

    #menu.open {
      left: 0;
    }

    #menu a {
      font-size: 1.9rem;
    }
  }
</style>
