---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button"> & {
  variant?: "primary" | "secondary";
};

const { class: className, ...props } = Astro.props;

const variant = {
  primary: "bg-button text-white",
  secondary: "bg-gray-500 text-white",
};
---

<button
  class:list={[
    variant[props.variant ?? "primary"],
    "font-inter max-sm:text-sm font-semibold px-3.5 py-2.5 sm:px-6 sm:py-4 rounded leading-none flex items-center justify-center",
    className,
  ]}
  {...props}
>
  <slot />
</button>

<style>
  button {
    font-size: 16px;
  }
</style>
