---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class="px-8">
  <div class:list={["container mx-auto", className]}>
    <slot />
  </div>
</div>

<style></style>
