---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

  <div class:list={["container mx-auto px-6 lg:px-16 xl:px-32", className]}>
    <slot />
  </div>

<style></style>
