---
import MoonIcon from "../SVG/MoonIcon.astro";
import SunIcon from "../SVG/SunIcon.astro";
---

<div>
  <script>
    const themes = ["light", "dark"];
    let preferredTheme = window.localStorage.getItem("theme");

    if (preferredTheme !== null) {
      console.log("preferredTheme", preferredTheme);
      document.documentElement.classList.remove(...themes);
      document.documentElement.classList.add(preferredTheme);

      if (preferredTheme === themes[1]) {
        document.getElementById("toggle-theme")?.setAttribute("checked", "true");
        document.getElementById("toggle-theme")?.classList.remove(...themes);
        document.getElementById("toggle-theme")?.classList.add(preferredTheme);
      }
    }

    function isDarkTheme() {
      return document.documentElement.classList.contains("dark");
    }

    function togglePreference() {
      console.log("Hi");
      const newTheme = isDarkTheme() ? themes[0] : themes[1];
      document.documentElement.classList.remove(...themes);
      document.documentElement.classList.add(newTheme);
      document.getElementById("toggle-theme")?.classList.remove(...themes);
      document.getElementById("toggle-theme")?.classList.add(newTheme);
      window.localStorage.setItem("theme", newTheme);
    }

    document.getElementById("toggle-theme")?.addEventListener("click", togglePreference);
  </script>
  <button
    aria-label="Theme toggle"
    id="toggle-theme"
    class:list={[
      "border border-dark-100/50 rounded-full px-3 py-3 w-24 h-[50px] flex gap-5 relative items-center group light bg-page",
    ]}
  >
    <div
      class="h-full w-12 border border-dark-100/50 absolute rounded-full border-l-0 dark:border-l dark:border-r-0 dark:-right-0 dark:left-auto -left-0"
      id="draggable-handle"
    >
    </div>
    <SunIcon class:list={["w-6 h-6  stroke-yellow-500 dark:stroke-gray-600 toggle-theme cursor-pointer"]} />
    <!-- <button class=" w-6 h-6"> -->
    <MoonIcon class:list={["w-6 h-6 dark:stroke-light-700 stroke-slate-300 toggle-theme cursor-pointer"]} />
    <!-- </button> -->
  </button>
</div>
<style>
  * {
    transition: 0s;
  }
  .toggle-theme {
    transition: 0.1s ease-in all !important;
    cursor: pointer;
  }
  #toggle-theme {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999999999999999;
  }
</style>
